/**
 * @Description: 重置样式表
 * @Author: xmasuhai <xmasuhai@163.com>
 * @Date: 2026-09-24 17:01:12
 * @LastEditors: xmasuhai <xmasuhai@163.com>
 * @LastEditTime: 2026-09-25 21:48:28
 * @FilePath: src/assets/styles/reset.scss
 */

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
