:root {
  --spacing: 2px;
  --welcome-card-bg-color: white;
  --welcome-text: white;
  --title-text: #D4D4EE;
  --welcome-card-start: #5d33be;
  --welcome-card-end: #8F4CD7;
  --primary-color: #6035BF;
  --button-primary-color: #5d33be;
  --button-primary-text-color: white;
}
